<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
<!-- Plugin settings: Movie section -->
    <category label="32010" id="section_movie">
        <setting label="32001" type="bool" id="movie_enable" default="false" />
        <setting type="sep" />
        <setting label="32004" type="lsep" />
        <setting label="32005" type="labelenum" id="movie_rating" subsetting="true" enable="eq(-3,true)" values="Off|themoviedb.org|IMDb" default="themoviedb.org"/>
        <setting label="32006" type="lsep" />
        <setting label="32007" type="labelenum" id="movie_cert" subsetting="true" enable="eq(-5,true)" values="Off|themoviedb.org|IMDb" default="themoviedb.org"/>
        <setting label="32008" type="labelenum" id="movie_cert_lang_tmdb" subsetting="true"
        values="cs|da|de|el|en|es|he|fi|fr|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|us|zh" visible="eq(-1,1)" enable="eq(-6,true)" default="en"/>
        <setting label="32008" type="labelenum" id="movie_cert_lang_imdb" subsetting="true"
        values="us" visible="eq(-2,2)" enable="eq(-7,true)" default="en"/>
        <setting label="32009" type="enum" id="movie_cert_nota" subsetting="true" visible="!eq(-3,0)" values="Rated XX|ISO639-1/XX" enable="eq(-8,true)" default="1"/>
    </category>
<!-- Plugin settings: Advanced section -->
    <category label="32011" id="section_advanced">
        <setting label="32012" type="bool" id="debug_enabled" default="false"/>
    </category>
</settings>